@import "../../../style/variables";

.about-page-container {
  min-height: 100vh;

  .section1 {
    height: 150vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: 	#0000b3;
    background-color: lightblue;
  }

  .section2 {
    height: 50vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: 	#66ffff;
    background-color: #0099cc;
  }

  .section3 {
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: 	#ffffff;
    background-color: #0077b3;
    font-size: larger;
  }

  .intro {
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about-page-background-image {
      background-image: url('../../../assets/images/about-back.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      filter: blur(2px);

      &::after {
        content: "";
        z-index: 9;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 51, 51, 0.2);

      }

    }

    .title {
      z-index: 9;
      color: white;
      font-weight: bold;
      text-align: center;

      display: none;
      @media (min-width: 992px) {
        display: block;
      }
    }


  }
}
