<div class="about-page-container">
  <section class="intro">
    <div class="about-page-background-image"></div>
    <img class="roof animated pulse" src="../../../assets/images/hotelLogoroof.png">
    <h1 class="title animated pulse">MAKING YOUR VACATION EASIER</h1>
  </section>
  <section class="section1">
  <h1>The Team</h1>
  <h4>Roeey Gross | Almog Ben Yair | Hen Ben Shimol | Gil Goldberger | Amit Saar</h4>
    <img src="../../../assets/images/TeamPhoto.jpg" height="500" width="750">
</section>
  <section class="section2">
    <i class="image fa fa-h-square" style="font-size:75px;"></i>
    <h4>ClickHotel is a dedicated easy-to-use website for hotel guests to improve the guest experience</h4>
  </section>
  <section class="section3">
    <ul>
        <b>This project uses the MEAN stack:</b>
      <ul>
        <li>
          <a href="http://www.mongoosejs.com" target="_blank" ><b>M</b>ongoose.js</a> (<a href="https://www.mongodb.com" target="_blank">MongoDB</a>)
        </li>
        <li>
          <a href="http://www.expressjs.com" target="_blank"><b>E</b>xpress.js</a>
        </li>
        <li>
          <a href="https://www.angular.io" target="_blank"><b>A</b>ngular 2+</a>
        </li>
        <li>
          <a href="https://www.nodejs.org" target="_blank"><b>N</b>ode.js</a>
        </li>
      </ul>
        <b>Other tools and technologies used:</b>
      <ul>
        <li>
          <a href="https://cli.angular.io" target="_blank">Angular CLI</a>
        </li>
        <li>
          <a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a>
        </li>
        <li>
          <a href="http://www.fontawesome.io" target="_blank">Font Awesome</a>
        </li>
        <li>
          <a href="https://github.com/auth0/angular2-jwt" target="_blank">Angular 2 JWT</a>
        </li>
        <li>
          <a href="https://github.com/dcodeIO/bcrypt.js" target="_blank">Bcrypt.js</a>
        </li>
      </ul>
    </ul>
  </section>
</div>

