@import "../../../style/variables";
.popover {
  position: absolute;
  z-index: 100;
}

.home-page-container {
  min-height: 100vh;
  .intro {
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .home-page-background-image{
      background-image: url('../../../assets/images/home-back.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      filter: blur(2px);
      &::after {
        content: "";
        z-index: 9;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 51, 51, 0.2);

      }
    }
    .title {
      z-index: 9;
      color: white;
      font-weight: bold;
      text-align: center;

      display: none;
      @media (min-width: 992px) {
        display: block;
      }
    }

    .logo-pic {
      z-index: 9;
      color: white;
      display: none;
      max-width: 700px;
      @media (min-width: 992px) {
        display: block;
      }
    }

    .roof {
      z-index: 9;
      display: none;
      @media (min-width: 992px) {
        display: block;
      }
    }

    .logo-roof {
      z-index: 9;
      position: relative;
      display: block;
      max-width: 300px;
      @media (min-width: 992px) {
        display: none;
      }
    }
  }

  .part {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >div:nth-child(even) {
      margin: 25px 0px;
    }
    >div:first-child {
      margin-top: 25px;
    }

    @media (min-width: 992px) {
      flex-direction: row;
      >div:first-child {
        margin-top: 0;
      }
      >div:nth-child(even) {
        margin: 0px 25px;
      }
    }
  }


  .properties {
    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 250px;
      border: 0;
      .image {
        font-size: 90px;
        margin-bottom: 12px;
        color: $gold;
        transition: transform 0.2s linear;
      }

      h4 {
        color: #3c3c3c;
      }

      &:hover {
        .image {
          transform: rotate(360deg);
        }
      }
    }
  }

  .hotels {
    min-height: 60vh;
    background-color: $gold;
    padding: 30px 0;
    .card-img-top {
      width: 100%;
      height: 15vw;
      object-fit: cover;
    }

    .card {
      cursor: pointer;
      transition: transform 0.2s linear;
      text-transform: capitalize;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
