<div class="admin-container">
    <br>
    <br>
    <app-loading [condition]="isLoading"></app-loading>
    
    <app-toast [message]="toast.message"></app-toast>

    <div class="modal-body">
        <h1>Hotel Info</h1>
      <div class="container-fluid">
            <div class="row">
              <div class="col-8 col-sm-6" *ngFor="let hotel of hotels">
                  Gym Hours:
              </div>
              <div class="col-4 col-sm-6" *ngFor="let hotel of hotels">
                  {{hotel.gymOpen}} - {{hotel.gymClose}}
              </div>
              <div class="col-12 col-sm-6" *ngFor="let hotel of hotels">
                  Pool Hours:
              </div>
              <div class="col-8 col-sm-6" *ngFor="let hotel of hotels">
                  {{hotel.poolOpen}} - {{hotel.poolClose}}
              </div>
              <div class="col-16 col-sm-6" *ngFor="let hotel of hotels">
                  Resturant Hours:
              </div>
              <div class="col-12 col-sm-6" *ngFor="let hotel of hotels">
                  {{hotel.resturantOpen}} - {{hotel.resturantClose}}
              </div>
              <div class="col-20 col-sm-6" *ngFor="let hotel of hotels">
                  Spa Hours:
              </div>
              <div class="col-16 col-sm-6" *ngFor="let hotel of hotels">
                  {{hotel.spaOpen}} - {{hotel.spaClose}}
              </div>
              <div class="col-24 col-sm-6" *ngFor="let hotel of hotels">
                  Attraction Board:
              </div>
              <div class="col-20 col-sm-6" *ngFor="let hotel of hotels">
                  <img src="{{hotel.attractionBoardImage}}">
              </div>
              <div class="col-28 col-sm-6" *ngFor="let hotel of hotels">
                   Hotel Map:
              </div>
              <div class="col-24 col-sm-6" *ngFor="let hotel of hotels">
                  <img src="{{hotel.hotelMap}}">
              </div>
            </div>
          </div>
        </div>
    
    <!-- <div class="card mb-3" *ngIf="!isLoading">
      <div class="card-body">
        <table class="table table-bordered col-12 table-responsive">
          <tbody class="col" *ngIf="!isEditing">
            <tr class="col" *ngFor="let hotel of hotels">
                <td class="col">Gym Hours:</td>
                <td class="col">{{hotel.gymOpen}} - {{hotel.gymClose}}</td>
            </tr>
            <tr class="col" *ngFor="let hotel of hotels">
              <td class="col"><i class="fas fa-swimmer"></i></td>
                <td class="col"> Pool Hours:</td>
                <td class="col">{{hotel.poolOpen}} - {{hotel.poolClose}}</td>
            </tr>
            <tr class="col" *ngFor="let hotel of hotels">
                <td class="col" >Resturant Hours:</td>
               <td class="col" >{{hotel.resturantOpen}} - {{hotel.resturantClose}}</td>
            </tr>
            <tr class="col" *ngFor="let hotel of hotels">
                <td class="col" >Spa Hours:</td>
               <td class="col" >{{hotel.spaOpen}} - {{hotel.spaClose}}</td>
            </tr>
            <tr class="col" *ngFor="let hotel of hotels">
                <td class="col" >Attraction Board:</td>
               <td class="col"><img src="{{hotel.attractionBoardImage}}"></td>
            </tr>
            <tr class="col" *ngFor="let hotel of hotels">
                <td class="col" >Hotel Map:</td>
               <td class="col"><img src="{{hotel.hotelMap}}"></td>
            </tr>
             <tr class="col" *ngFor="let hotel of hotels">
              <td class="col"><img src="{{hotel.attractionBoardImage}}"></td>
              <td class="col"><img src="{{hotel.hotelImage}}"></td>
              <td class="col"><img src="{{hotel.hotelMap}}"></td>
              <td class="col">
                <button class="btn btn-sm btn-primary" (click)="enableEditing(hotel)">
                  <i class="fa fa-pencil"></i> Edit
                </button>
                <button class="btn btn-sm btn-danger ml-1" (click)="deleteHotel(hotel)">
                  <i class="fa fa-trash"></i> Delete
                </button>
              </td>
            </tr> -->
         <!-- </tbody>
        </table>
      </div>
    </div> -->
  
    