<app-toast [message]="toast.message"></app-toast>

<div class="card">
    <h4 class="card-header">Hotel Info</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-8 col-sm-6">
                    Gym Hours:
                </div>
                <div class="col-4 col-sm-6">
                    {{hotel.gymOpen}} - {{hotel.gymClose}}
                </div>
                <div class="col-12 col-sm-6">
                    Pool Hours:
                </div>
                <div class="col-8 col-sm-6">
                    {{hotel.poolOpen}} - {{hotel.poolClose}}
                </div>
                <div class="col-16 col-sm-6">
                    Resturant Hours:
                </div>
                <div class="col-12 col-sm-6">
                    {{hotel.resturantOpen}} - {{hotel.resturantClose}}
                </div>
                <div class="col-20 col-sm-6">
                    Spa Hours:
                </div>
                <div class="col-16 col-sm-6">
                    {{hotel.spaOpen}} - {{hotel.spaClose}}
                </div>
                <div class="col-24 col-sm-6">
                    Attraction Board:
                </div>
                <div class="col-20 col-sm-6">
                    <img src="{{hotel.attractionBoardImage}}" width="200" height="200">
                </div>
                <div class="col-28 col-sm-6">
                     Hotel Map:
                </div>
                <div class="col-24 col-sm-6">
                    <img src="{{hotel.hotelMap}}" width="200" height="200">
            </div>
        </div>
    </div>
</div>
