@import "../../../style/variables";

.admin-container {
  min-height: 100vh;
  background: hsla(170, 50%, 45%, 1);

  .table {
    td,
    th {
      width: 5%;
    }

    .max-width {
      max-width: 100px;
      overflow: auto;
    }
  }
}
