extends layout

block content
    h1 #{title}
    form(method='POST', action='/hotel/addHotel')
        #form-group
            label Name:
            input.form-control(name='hotelName', type='text')
        #form-group
            label Location:
            input.form-control(name='location', type='text')
        #form-group
            label Details:
            input.form-control(name='details', type='text')
        #form-group
            label Phone Number:
            input.form-control(name='phoneNum', type='text')
        #form-group
            label Fax Number:
            input.form-control(name='faxNum', type='text')
        #form-group
            label Check-In Time:
            input.form-control(name='checkinTime', type='text')
        #form-group
            label Check-Out Time:
            input.form-control(name='checkoutTime', type='text')
        br
        input.btn.btn-primary(type='submit', value='Submit')