extends layout

block content
    h1 #{title}
    form(method='POST', action='/users/checkin')
        #form-group
            label Hotel:
            select.form-control(name='hotel')
                each hotel, i in hotels
                    option #{hotel.name}
        #form-group
            label First Name:
            input.form-control(name='firstName', type='text')
        #form-group
            label Last Name:
            input.form-control(name='lastName', type='text')
  
        br
        input.btn.btn-primary(type='submit', value='Submit')