doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='#') Click Hotel
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/')
              | Home
              span.sr-only (current)
          if user
            if user.isCheckedIn
              a.nav-link(href='/hotel/GeneralInformation')
               | General Information
          if user
            a.nav-link(href='/hotel/hotelHistory')
              | Hotel History
        ul.nav.navbar-nav.navbar-right
          if user
            if user.isCheckedIn
              li.nav-item
                 a.nav-link(href='/users/checkout') Check-Out
            else
              li.nav-item
                 a.nav-link(href='/users/checkin') Check-In
            li.nav-item
              a.nav-link(href='/users/logout') Logout
          else
            li.nav-item
              a.nav-link(href='/users/register') Register
            li.nav-item
              a.nav-link(href='/users/login') Login
    .container
      != messages("message",locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content

    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
