extends layout

block content
    h1 #{title}
    form(method='POST', action='/users/login')
        #form-group
            label Email:
            input.form-control(name='email', type='text')
        #form-group
            label Password:
            input.form-control(name='password', type='password')
        br
        input.btn.btn-primary(type='submit', value='Submit')