
<div class="home-page-container">
  <section class="intro">
    <div class="home-page-background-image"></div>
    <img class="logo-roof animated pulse" src="../../../assets/images/hotelLogo.png">
    <img class="logo-pic" src="../../../assets/images/hotelLogo.png">
    <h4  class="title animated pulse">FAST | SAFE | EASY | 24/7</h4>
  </section>
  <section class="part properties">
    <div class="card">
      <i class="image fa fa-user"></i>
      <h4>Your convenience is our top priority</h4>
    </div>
    <div class="card">
      <i class="image fa fa-clock-o"></i>
      <h4>Your time is precious save it</h4>
    </div>
    <div class="card">
      <i class="image fa fa-lock"></i>
      <h4>Its easy to lock your spot ahead</h4>
    </div>
  </section>
  <section class="part hotels">
    <div class="card" *ngFor="let hotel of hotels" style="width: 300px;" (click)="getInfo(hotel.name)">
      <img class="card-img-top" src="{{hotel.hotelImage}}" >
      <div class="card-body">
        <p class="card-text">{{hotel.name}}</p>
        <p class="card-text">{{hotel.description}}</p>
      </div>
    </div>
  </section>
</div>

<!-- routerLinkActive="active" (click)="open(hotelInfoModal,hotel)" -->

<ng-template #hotelInfoModal let-modal>
    <app-hotelInfo [hotelInfoElement]="hotelInfoModal"></app-hotelInfo>
  </ng-template>