<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current rooms ({{rooms.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered col-12">
      <thead class="thead-light col">
        <tr class="col">
          <th scope="col">Hotel Name</th>
          <th scope="col">Room Number</th>
          <th scope="col">Location</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody class="col" *ngIf="rooms.length === 0">
        <tr>
          <td colspan="4">There are no rooms in the DB. Add a new room below.</td>
        </tr>
      </tbody>
      <tbody class="col" *ngIf="!isEditing">
        <tr class="col" *ngFor="let room of rooms">
          <td class="col">{{room.hotelName}}</td>
          <td class="col">{{room.roomNum}}</td>
          <td class="col">{{room.location}}</td>
          <td class="col" >{{room.details}}</td>
          <td class="col">
            <button class="btn btn-sm btn-primary" (click)="enableEditing(room)">
              <i class="fa fa-pencil"></i> Edit
            </button>
            <button class="btn btn-sm btn-danger ml-1" (click)="deleteRoom(room)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
      <tbody class="col" *ngIf="isEditing">
        <tr class="col">
          <td class="col" colspan="4">
            <form class="col" class="form-inline" #form="ngForm" (ngSubmit)="editRoom(room)">
              <input class="form-control mr-2" type="text" name="hotelName"
                     [(ngModel)]="room.hotelName" placeholder="hotelName" required>
              <input class="form-control mr-2" type="text" name="roomNum"
                     [(ngModel)]="room.roomNum" placeholder="roomNum" required>
              <input class="form-control mr-2" type="text" name="location"
                     [(ngModel)]="room.location" placeholder="Location" min="0" required>
              <input class="form-control mr-2" type="text" name="details"
                     [(ngModel)]="room.details" placeholder="Details" required>
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                <i class="fa fa-floppy-o"></i> Save
              </button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                <i class="fa fa-times"></i> Cancel
              </button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new room</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addRoomForm" (ngSubmit)="addRoom()">
      <input class="form-control mr-2" type="text" name="name"
             formControlName="hotelName" placeholder="hotelName">
      <input class="form-control mr-2" type="text" name="roomNum"
             formControlName="roomNum" placeholder="roomNum">
      <input class="form-control mr-2" type="text" name="location"
             formControlName="location" placeholder="Location" min="0">
      <input class="form-control mr-2" type="text" name="details"
             formControlName="details" placeholder="Details" step="any" min="0">
      <button class="btn btn-primary" type="submit" [disabled]="!addRoomForm.valid">
        <i class="fa fa-plus"></i> Add
      </button>
    </form>
  </div>
</div>
