<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <h4 class="card-header">Details</h4>
  <div class="card-body">
    <table class="table table-bordered col-12">
      <thead class="thead-light col">
        <tr class="col">
          <th scope="col">Hotel Name</th>
          <th scope="col">Room Number</th>
        </tr>
      </thead>
      <tbody class="col" *ngIf="!isEditing">
        <tr class="col">
          <td class="col">{{room.hotelName}}</td>
          <td class="col">{{room.roomNum}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
