<div class="servicesDetails-page-container">
  <section class="intro">
    <div class="servicesDetails-page-background-image"></div>
    <img class="logo-roof animated pulse" src="../../../assets/images/hotelLogo.png">
    <img class="logo-pic" src="../../../assets/images/hotelLogo.png">
    <h4  class="title animated pulse">FAST | SAFE | EASY | 24/7</h4>
  </section>
  <section class="part servicesDetails">
    <div class="card" *ngFor="let serviceDet of servicesDet" style="width: 300px;" routerLinkActive="active" (click)="order(serviceDet)">
      <div class="card-body" >
        <p class="card-text">{{serviceDet.name}}</p>
      </div>
    </div>
  </section>
</div>
