<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <h4 class="card-header">Check-in</h4>
  <div s="errors" *ngIf="submitted && hotelName.errors">
        <div *ngIf="hotelName.errors.required">Hotel Name is requiered</div>
      </div>
        <div class="card-body">
          <form [formGroup]="checkinForm" (ngSubmit)="checkin()">
            <div class="input-group" [ngClass]="setClassHotelname()">
              <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-hotel"></i>
            </span>
              </div>
              <select formControlName="hotelName" class="form-control">
                <option value="" disabled>Hotel Name</option>
                <option *ngFor="let hotel of hotelsName" [value]="hotel.name">{{hotel.name}}</option>
              </select>
            </div>
            <div class="input-group" [ngClass]="setClassFullName()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-user"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="FullName"
               formControlName="fullName" placeholder="Full Name" autofocus>
      </div>
      <div class="errors" *ngIf="submitted && fullName.errors">
        <div *ngIf="fullName.errors.required">Full Name is requiered</div>
        <div *ngIf="fullName.errors.minlength">Full Name must be at least 2 characters</div>
        <div *ngIf="fullName.errors.maxlength">Full Name cannot be more then 30 characters</div>
      </div>
      <div class="input-group" [ngClass]="setClassID()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-id-card"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="ID"
               formControlName="ID" placeholder="ID" autofocus>
      </div>
      <div class="errors" *ngIf="submitted && ID.errors">
        <div *ngIf="ID.errors.required">ID is requiered</div>
        <div *ngIf="ID.errors.pattern">ID must be number</div>
        <div *ngIf="ID.errors.maxlength">ID must be number of 9 digits exactly</div>
        <div *ngIf="ID.errors.minlength">ID must be number of 9 digits exactly</div>
      </div>
      <div class="input-group" [ngClass]="setClassAge()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-id-badge"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="age"
               formControlName="age" placeholder="Age" autofocus>
      </div>
      <div class="input-group" [ngClass]="setClassGuestStatus()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-question"></i>
          </span>
        </div>
        <select formControlName="guestStatus" class="form-control">
          <option value="" disabled>Family Status</option>
          <option value="single">Single</option>
          <option value="couple">Married</option>
          <option value="family">Family</option>
        </select>
      </div>
      <div class="input-group" [ngClass]="setClassGuestPurpose()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-briefcase"></i>
          </span>
        </div>
      <select formControlName="guestPurpose" class="form-control">
        <option value="" disabled>Purpose</option>
        <option value="Buisness">Buisness</option>
        <option value="Pleasure">Pleasure</option>
      </select>
    </div>
      <div class="errors" *ngIf="submitted && guestStatus.errors">
        <div *ngIf="guestStatus.errors.required">Your status is requiered</div>
      </div>
      <div class="input-group" [ngClass]="setClassGuestNumber()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-users"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="guestNumber"
               formControlName="guestNumber" placeholder="Number Of Guests" autofocus>
      </div>
      <div class="errors" *ngIf="submitted && guestNumber.errors">
        <div *ngIf="guestNumber.errors.required">Guest number is requiered</div>
        <div *ngIf="guestNumber.errors.pattern">Guest number must be number between 1-9</div>
      </div>
      <div class="input-group" [ngClass]="setClassCheckinDate()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
        <input class="form-control" type="date" [min]="minDate" [max]="minDate" name="checkinDate"
               formControlName="checkinDate" placeholder="checkinDate">
      </div>
      <div class="errors" *ngIf="submitted && checkinDate.errors">
        <div *ngIf="checkinDate.errors.required">Check-in date is requiered</div>
      </div>
      <div class="input-group" [ngClass]="setClassCheckoutDate()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
        <input class="form-control" type="date" [min]="minDateForCheckOut" name="checkoutDate"
               formControlName="checkoutDate" placeholder="checkoutDate">
      </div>
      <div class="errors" *ngIf="submitted && checkoutDate.errors">
        <div *ngIf="checkoutDate.errors.required">Check-out date is requiered</div>
      </div>
      <button class="btn btn-primary" type="submit" >
        <i class="fa fa-sign-in"></i> Check-in
      </button>
    </form>
  </div>
</div>
