<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <ng-container *ngIf="room">
  <h4 class="card-header">{{room.hotelName}}</h4>
  <div class="card-body">
    <table class="table table-bordered col-12">
      <tr class="col">
        <th scope="col">Room Number</th>
        <td class="col col-4 text-align">{{room.roomNum}}</td>
      </tr>
      <tr class="col">
        <th scope="col">Room Floor</th>
        <td class="col col-4 text-align">{{room.floor}}</td>
      </tr>
      <tr class="col">
        <th scope="col">Room WIFI</th>
        <td class="col col-4 text-align">{{room.wifi}}</td>
      </tr>
    </table>
  </div>
  </ng-container>
</div>
