<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <h4 class="card-header">Room Information</h4>
  <div class="card-body">
    <table class="table table-bordered col-12">
      <thead class="thead-light col">
        <tr class="col">
          <th scope="col">Hotel Name</th>
          <th scope="col">Room Number</th>
        </tr>
      </thead>
      <ng-container *ngIf="room">
        <tbody class="col">
          <tr class="col">
            <td class="col">{{this.room.hotelName}}</td>
            <td class="col col-4 text-align">{{room.hotelName}}</td>
            <td class="col col-4 text-align">{{room.roomNum}}</td>
          </tr>
        </tbody>
      </ng-container>
    </table>
  </div>
</div>
