<div class="admin-container">
  <br>
  <br>
  <app-loading></app-loading>
  <div class="header">
    <h1>Guest Analytics</h1>
    <p>Implemented with kmeans</p>
  </div>
  <div>
  <section class="section">
    <h4>Centroids:</h4>
    <div class="d-flex" *ngFor="let centroids of centroids">
      <ion-content>
        {{centroids}}
      </ion-content>
    </div>
  </section>
  </div>
  <div>
  <section class="section">
  <h4>Guests:</h4>
  <div class="d-flex" *ngFor="let idxs of idxs">
    <p>
      {{idxs}}
    </p>
  </div>
  </section>
  </div>
</div>


